/* trying out code*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
}

#view {
    width: 100%;
    height: 100%;
    max-width: 800px;
}
#view1, #view2, #view3, #view4 {
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}